<form class="input-form" [formGroup]="DataValueControl">
  <mat-form-field appearance="standard">
    <mat-label>Medikament</mat-label>
    <mat-select [(value)]="selectedMedicine" formControlName="MedicineId">
      <mat-option *ngFor="let med of medicine$ | async" [value]="med?.Id">
        {{ med.Name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Dosis [mg]</mat-label>
    <input matInput type="number" formControlName="Dosage" />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Uhrzeit</mat-label>
    <input matInput type="time" formControlName="Time" />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Datum</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="Date" />
    <mat-icon matSuffix (click)="picker.open()">event</mat-icon>
    <mat-datepicker touchUi="true" #picker> </mat-datepicker>
  </mat-form-field>

  <p>
    <button mat-raised-button color="primary" (click)="submit()">
      Speichern
    </button>
    <button mat-raised-button color="primary" (click)="reset()">
      Zurücksetzen
    </button>
  </p>

  <span>{{ Message }}</span>
</form>
